/.idea
/大论文
/data
/Data_Synthesis/video.mp4
/PointGroup/exp
/PoseEstimation/exp
/大论文.zip
/ablation.py
/data_preprocess2.py
/data_proprocess3.py
/my_win.py
/my_win.ui
/my_win2.py
/my_win2.ui
/predict.sh
/predict_catbp.py
/predictor_nunocs.py
/real_world_scene.json
/real_world_scene.ply
/ScreenCamera_2024-03-20-19-59-48.json
/test.py
/trainer_catpose.py
/trainer_nunocs.py
/viewpoint.json
/win2_main.py
/win_main.py
